---
export interface Props {
  image: string;
  name: string;
  github: string;
}

const { image, name, github } = Astro.props;
---

<div
  class="sm:flex sm:flex-col sm:items-center sm:justify-center text-center hover:scale-105 hover:cursor-pointer"
>
  <a href={`speakers/${name.replaceAll(" ", "-")}`}>
    <img width="170" class="rounded sm:m-auto sm:flex" src={image} alt={name} />
  </a>
  <h2 class="text-lg mt-3 font-bold text-center">{name}</h2>
  <a href={`https://github.com/${github}`} target="_blank">
    <h5 class="text-sm font-semibold text-red-500 mt-1">@{github}</h5>
  </a>
</div>
