---
import github_logo from "@assets/github-white.svg";
import twitter_logo from "@assets/twitter-logo.svg";

export interface Props {
  image: string;
  name: string;
  github: string;
  youtube: string;
  twitter: string;
}

const { image, name, github, youtube, twitter } = Astro.props;
---

<div
  class="sm:flex sm:flex-col sm:items-center sm:justify-center text-center hover:scale-105 hover:cursor-pointer mt-10"
>
  <a href={`speakers/${name.replaceAll(" ", "-")}`}>
    <img width="170" class="rounded sm:m-auto sm:flex" src={image} alt={name} />
  </a>
  <h2 class="text-lg mt-3 font-bold text-center hover:text-red-500">{name}</h2>
  <div class="flex gap-5 mt-2 justify-center">
    <div class="bg-gray-900 p-1 rounded">
      <a href={`https://github.com/${github}`} target="_blank">
        <img src={github_logo} width="20" height="20" alt={github} />
      </a>
    </div>
    <div class="bg-gray-800 p-1 rounded">
      <a href={`https://twitter.com/${twitter}`} target="_blank">
        <img src={twitter_logo} width="20" alt="" />
      </a>
    </div>
  </div>
</div>
