---
import EventFrame from "../../layouts/EventFrame.astro";
import { getDataFromTable } from "../../services/config";
import type { IEvent } from "../../interfaces/tickets";
import TimerCountdown from "../../components/TimerCountdown/index.astro";
import GetTicket from "../../components/GetTicket";
import ScheduleItem from "../../components/ScheduleItem/index.astro";
import { schedule } from "./schedule";

export async function getStaticPaths() {
  const events = await getDataFromTable("events");

  return events.map((event: IEvent) => ({
    params: { id: event.id },
  }));
}

const { id } = Astro.params;

const [event] = await getDataFromTable("events", {
  key: "id",
  value: Number(id),
});
---

<EventFrame title={`${event.title} | Tech Conf`}>
  <main class="scene lg:mt-10 lg:m-auto">
    <section class="lg:w-3/4 sm:w-screen m-auto text-center">
      <section>
        <h1 class="sm:text-xl md:text-3xl lg:text-8xl mt-10">
          ⭐️ {event.title}
        </h1>
        <h2
          class="lg:text-3xl lg:w-1/2 m-auto sm:text-sm font-medium text-yellow-500 mt-10"
        >
          {event.description}
        </h2>
        <p class="lg:text-6xl md:text-3xl sm:text-3xl mt-10 font-extrabold">{event.date}</p>
        <article class="mt-10 bg-purple-700 lg:w-1/3 m-auto p-1 rounded-xl">
          <h4 class="font-bold text-xl">Streaming en <a class="text-yellow-400" href="https://www.twitch.tv/linder3hs">twitch.tv/linder3hs</a></h4>
        </article>
        <TimerCountdown />
        <GetTicket client:load id={event.id} />
      </section>
      <section>
        <h2 class="mt-10 text-4xl">Calendario</h2>
        <section class="mt-10">
          {
            schedule.map(({ title, time, speaker }) => (
              <ScheduleItem time={time} title={title} speaker={speaker} />
            ))
          }
        </section>
      </section>
    </section>
  </main>
</EventFrame>
