---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card/index";
import { getDataFromTable } from "../../services/config";

const events = await getDataFromTable("events");
---

<Layout title="Eventos">
  <main class="mt-10 md:mx-16">
    <h2 class="text-4xl">⭐️ Eventos</h2>
    <div class="mt-10 grid md:grid-cols-4 sm:grid-cols-1 gap-6">
      {
        events &&
          events.map((event) => (
            <Card
              client:load
              id={event.id}
              title={event.title}
              description={event.description}
              image={event.image}
              date={event.date}
            />
          ))
      }
    </div>
  </main>
</Layout>
