---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card/index";
import { getDataFromTable } from "../../services/config";
import type { IEvent } from "../../interfaces/tickets";

const events = (await getDataFromTable("events")) as IEvent[];
---

<Layout title="Eventos | Tech Conf">
  <main class="mt-10 md:mx-16">
    <h2 class="text-4xl">⭐️ Eventos</h2>
    <div class="mt-10 grid md:grid-cols-3 sm:grid-cols-1 gap-6">
      {
        events &&
          events.map((event: IEvent) => (
            <Card
              client:load
              id={String(event.id)}
              title={event.title}
              description={event.description}
              date={event.date}
              capacity={event.capacity}
            />
          ))
      }
    </div>
  </main>
</Layout>
